.terminal-wrapper {
  background: radial-gradient(circle, rgba(69, 255, 109, 1) 0%, rgba(17, 230, 255, 1) 100%);
  width: 100vw;
  height: 100vh;
}

.terminal {
  display: flex;
  justify-content: space-around;
}

.title {
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
