.wrapper {
  width: 80%;
  height: 80vh;
  background: #171717;
  border: 1px solid #000;
  border-radius: 8px;
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
}

.white-border{
  border: 1px solid #525053;
  border-radius: 8px;
  height: 80vh;
}

.terminal-header {
  display: flex;
  background: #2b292b;
  border-radius: 8px 8px 0 0;
  color: #a5a3a6;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.flex-element {
  width: 100px;
}

.controls {
  margin-left: 8px;
  display: flex;
  gap: 8px;
}

.control-button {
  width: 14px;
  height: 14px;
  border-radius: 20px;
}

.close {
  background-color: #e34243;
}

.hide {
  background-color: #f3af28;
}

.expand {
  background-color: #5ac234;
}
