<div class="wrapper">
  <div class="white-border">
    <div class="terminal-header">
      <div class="controls">
        <div class="close control-button"></div>
        <div class="hide control-button"></div>
        <div class="expand control-button"></div>
      </div>
      <div class="user-name">user -- -bash</div>
      <div class="flex-element"></div>
    </div>

    <div class="terminal-window">
      <app-terminal-view></app-terminal-view>
      <app-terminal-input></app-terminal-input>
    </div>
  </div>
</div>
